{% extends 'ca_website/base.html' %}
{% block content %}
<div class="card text-center" id="verticle">
  <div class="card-body">
    <h4 class="card-title" id="welcome">ABOUT C.A.</h4>
    <p class="card-text" id="cawelcomeb">Cocaine Anonymous is a fellowship of recovering addicts throughout the United States, Canada, and other countries whose members meet in local groups. The following definition of Cocaine Anonymous is found in our Fellowship's literature and is often read at meetings of C.A.:

"Cocaine Anonymous is a fellowship of men and women who share their experience, strength and hope with each other that they may solve their common problem, and help others to recover from their addiction. The only requirement for membership is a desire to stop using cocaine and all other mind-altering substances. There are no dues or fees for membership; we are fully self-supporting through our own contributions. We are not allied with any sect, denomination, politics, organization or institution. We do not wish to engage in any controversy and we neither endorse nor oppose any causes. Our primary purpose is to stay free from cocaine and all other mind-altering substances, and to help others achieve the same freedom. We use the Twelve Steps of Recovery, because it has already been proven that the Twelve-Step recovery program works."</p>
</div>
<p>
<a class="btn btn-primary btn-lg" href="/" onclick="javascript:void window.open('/static/pdf/Self-Test.pdf',
    '1420671127636','width=700,height=500,toolbar=0,menubar=0,location=0,status=0,scrollbars=1,resizable=1,left=0,top=0');return false;">Am I An Addict?</a>
<a class="btn btn-primary btn-lg" href="{% url 'meetings' %}" role="button">Find A Meeting</a>
</p>
</div>
<div class="card" id="verticle">
    <h3 class="card-title" id="aligntop">12 STEPS OF COCAINE ANONYMOUS</h3>
    <ol>
       <li>We admitted we were powerless over cocaine and all other mind-altering substances—that our lives had become unmanageable </li>
       <li>Came to believe that a Power greater than ourselves could restore us to sanity.</li>
       <li>Made a decision to turn our will and our lives over to the care of God as we understood Him.</li>
       <li>Made a searching and fearless moral inventory of ourselves.</li>
       <li>Admitted to God, to ourselves, and to another human being the exact nature of our wrongs.</li>
       <li>Were entirely ready to have God remove all these defects of character.</li>
       <li>Humbly asked Him to remove our shortcomings.</li>
       <li>Made a list of all persons we had harmed, and became willing to make amends to them all.</li>
       <li>Made direct amends to such people wherever possible, except when to do so would injure them or others.</li>
       <li>Continued to take personal inventory and when we were wrong promptly admitted it.</li>
       <li>Sought through prayer and meditation to improve our conscious contact with God as we understood Him, praying only for knowledge of His will for us and the power to carry that out.</li>
       <li>Having had a spiritual awakening as the result of these Steps, we tried to carry this message to addicts, and to practice these principles in all our affairs.</li>
    </ol>
</div>
<div class="card" id="verticle">
    <h3 class="card-title" id="aligntop">12 TRADITIONS OF COCAINE ANONYMOUS</h3>
    <ol>
      <li>Our common welfare should come first, personal recovery depends upon C.A. unity.</li>
      <li>For our group purpose, there is but one ultimate authority—a loving God as He may express Himself in our group conscience. Our leaders are but trusted servants; they do not govern.</li>
      <li>The only requirement for C.A. membership is a desire to stop using cocaine and all other mind-altering substances.</li>
      <li>Each group should be autonomous except in matters affecting other groups or C.A. as a whole.</li>
      <li>Each group has but one primary purpose—to carry its message to the addict who still suffers.</li>
      <li>A C.A. group ought never endorse, finance, or lend the C.A. name to any related facility or outside enterprise, lest problems of money, property and prestige divert us from our primary purpose.</li>
      <li>Every C.A. group ought to be fully self-supporting, declining outside contributions.</li>
      <li>Cocaine Anonymous should remain forever nonprofessional, but our service centers may employ special workers.</li>
      <li>C.A., as such, ought never be organized; but we may create service boards or committees directly responsible to those they serve.</li>
      <li>Cocaine Anonymous has no opinion on outside issues; hence the C.A. name ought never be drawn into public controversy.</li>
      <li>Our public relations policy is based on attraction rather than promotion; we need always maintain personal anonymity at the level of press, radio, television and films.</li>
      <li>Anonymity is the spiritual foundation of all our Traditions, ever reminding us to place principles before personalities.</li>
    </ol>
</div>
<div class="card-footer text-muted" id="verticle">
    <i>*Reprinted and adapted with permission of A.A. Grapevine, Inc.</i>
</div>
{% endblock %}