{% extends 'ca_website/base.html' %}
{% block content %}
<div class="card text-center">
  <div class="card-body">
    <h4 class="card-title" id="welcome">ABOUT C.A.</h4>
    <p class="card-text">Cocaine Anonymous is a fellowship of recovering addicts throughout the United States, Canada, and other countries whose members meet in local groups. The following definition of Cocaine Anonymous is found in our Fellowship's literature and is often read at meetings of C.A.:

"Cocaine Anonymous is a fellowship of men and women who share their experience, strength and hope with each other that they may solve their common problem, and help others to recover from their addiction. The only requirement for membership is a desire to stop using cocaine and all other mind-altering substances. There are no dues or fees for membership; we are fully self-supporting through our own contributions. We are not allied with any sect, denomination, politics, organization or institution. We do not wish to engage in any controversy and we neither endorse nor oppose any causes. Our primary purpose is to stay free from cocaine and all other mind-altering substances, and to help others achieve the same freedom. We use the Twelve Steps of Recovery, because it has already been proven that the Twelve-Step recovery program works."</p>
  </div>
  <div class="card-footer text-muted">
    <i>*Reprinted and adapted with permission of A.A. Grapevine, Inc.</i>
  </div>
</div>
{% endblock %}