<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>CA of Washington</title>
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link href="{% static 'node_modules/startbootstrap-shop-homepage/css/shop-homepage.css' %}" rel="stylesheet">
  </head>
  <body>


    <script src="{% static 'node_modules/startbootstrap-shop-homepage/vendor/popper/popper.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/startbootstrap-shop-homepage/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'node_modules/startbootstrap-shop-homepage/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>