{% extends 'ca_website/base.html' %}
{% load static %}
{% block content %}
    <!-- <div class="jumbotron" id="welcome"> -->
    <div id="home">
        <div id="banner"></div>
        <div id="home-bio">
            <h1 class="display-3" id="cawelcome">Welcome to C.A.</h1>
            <p id="cawelcomeb">Welcome to Cocaine Anonymous. We are all here for the same reason—our inability to stop using cocaine and all other mind-altering substances. The first step towards solving any problem is admitting that there is a problem.</p>
            <p id="cawelcomeb">The problem, as we see it, consists of an obsession of the mind and an allergy of the body. The obsession is a continued and irresistible thought of the drugs and the next high. The allergy creates an absolute inability to stop using once we begin.</p>
            <p id="cawelcomeb">We wish to assure you that there is a solution and that recovery is possible. It begins with abstinence and continues with practicing the Twelve Steps of recovery, one day at a time. Our program, the Twelve Steps of Cocaine Anonymous, is the means by which we move from the problem of addiction to the solution of recovery.</p>
            <p>
            <a class="btn btn-primary btn-lg" href="{% static 'pdf/What_is_CA.pdf' %}" target="_blank">What is CA?</a>
            <a class="btn btn-primary btn-lg" href="{% static 'pdf/Self-Test.pdf' %}" target="_blank">Am I An Addict?</a>
            <a class="btn btn-primary btn-lg" href="meeting-schedule/" role="button">Find A Meeting</a>
            </p>
        </div>

    </div>
    <div class="container" id="bordercarousel">
        <div class="row">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                {% for event in events %}
                  {% if forloop.last %}
                  <div class="carousel-item active">
                    <img class="d-block img-fluid" src="{{ event.event_photo.url }}">
                  </div>
                  {% else %}
                  <div class="carousel-item">
                    <img class="d-block img-fluid" src="{{ event.event_photo.url }}">
                  </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            <a href="{% url 'eventinfo' %}" class="btn btn-primary">All Events</a>
        </div>
    </div>
{% endblock %}