{% extends 'ca_website/base.html' %}

{% block content %}
    <div class="jumbotron" id="welcome">
      <h1 class="display-3">Welcome to C.A.</h1>
        <p>Welcome to Cocaine Anonymous. We are all here for the same reason—our inability to stop using cocaine and all other mind-altering substances. The first step towards solving any problem is admitting that there is a problem.</p>
        <p>The problem, as we see it, consists of an obsession of the mind and an allergy of the body. The obsession is a continued and irresistible thought of the drugs and the next high. The allergy creates an absolute inability to stop using once we begin.</p>
        <p>We wish to assure you that there is a solution and that recovery is possible. It begins with abstinence and continues with practicing the Twelve Steps of recovery, one day at a time. Our program, the Twelve Steps of Cocaine Anonymous, is the means by which we move from the problem of addiction to the solution of recovery.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#!" role="button">Some action</a>
      </p>
    </div>
    <!-- <div class="container">
        <div class="row"> -->
            {% for event in events %}
            <!-- event photo, event name, event date, event city -->
            <!-- <div class="col-sm-6">
              <div class="card">
                <div class="card-block">
                  <h3 class="card-title">Special title treatment</h3>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            {% endfor %}
            <a href="#" class="btn btn-primary">All Events</a>
        </div>
    </div> -->
    <div class="container">
        <div class="row">
            {% for meeting in meetings %}
            <!-- meeting name, meeting day, meeting time -->
            <div class="col-sm-4">
              <div class="card">
                <div class="card-block">
                  <h3 class="card-title">{{ meeting.meeting_name }}</h3>
                  <p class="card-text">
                      {{ meeting.weekday }}, {{ meeting.start_time }}
                  </p>
                  <p class="card-text">
                      {{ meeting.location_name }}
                  </p>
                  <a href="#" class="btn btn-primary">Details</a>
                </div>
              </div>
            </div>
            {% endfor %}
            <a href="#" class="btn btn-primary">All Meetigns</a>
        </div>
    </div>
{% endblock %}