{% extends 'ca_website/base.html' %}

{% block content %}
<!--     {% for meeting in meetings %}
        {{ meeting.district }}
        {{ meeting.meeting_name }}
        {{ meeting.weekday }}
        {{ meeting.start_time }}
        {{ meeting.end_time }}
        {{ meeting.location_name }}
        {{ meeting.street }}
        {{ meeting.suite }}
        {{ meeting.city }}
        {{ meeting.zip_code }}
        {{ meeting.room }}
        {{ meeting.notes }}
        {{ meeting.duration }}
        {{ meeting.meeting_format }}
        {{ meeting.last_updated }}
    {% endfor %}

    {% for meeting in service_meeting %}
        {{ meeting.meeting_name }}
        {{ meeting.day }}
        {{ meeting.location_name }}
        {{ meeting.street }}
        {{ meeting.suite }}
        {{ meeting.city }}
        {{ meeting.zip_code }}
        {{ meeting.room }}
        {{ meeting.notes }}
        {{ meeting.last_updated }}
    {% endfor %} -->

    <div class="container">
        <div class="row">
            {% for meeting in meetings %}
            <!-- meeting name, meeting day, meeting time -->
            <div class="col-sm-6">
              <div class="card">
                <div class="card-block">
                  <h3 class="card-title">{{ meeting.meeting_name }}</h3> {{ meeting.start_time }}-{{ meeting.end_time }}
                  <p class="card-text">
                      {{ meeting.location_name }}
                      {% if meeting.room %}
                       ({{ meeting.room }})
                      {% endif %}
                  </p>
                  <p class="card-text">
                      {{ meeting.street }}
                  </p>
                  <p class="card-text">
                      {{ meeting.city }}
                      <a href='http://maps.google.com/?daddr={{ meeting.street }},+{{meeting.city}}+WA' target="_blank">Get Directions</a>
                  </p>
                </div>
              </div>
            </div>
            {% endfor %}
            <a href="#" class="btn btn-primary">All Meetings</a>
        </div>
    </div>
{% endblock %}