{% extends 'ca_website/base.html' %}

{% block content %}
    {{ meeting_1.district }}
    {{ meeting_1.meeting_name }}
    {{ meeting_1.weekday }}
    {{ meeting_1.start_time }}
    {{ meeting_1.end_time }}
    {{ meeting_1.location_name }}
    {{ meeting_1.street }}
    {{ meeting_1.suite }}
    {{ meeting_1.city }}
    {{ meeting_1.zip_code }}
    {{ meeting_1.room }}
    {{ meeting_1.notes }}
    {{ meeting_1.duration }}
    {{ meeting_1.meeting_format }}
    {{ meeting_1.last_updated }}
{% endblock %}