{% extends 'ca_website/base.html' %}
{% block content %}
{% load static %}

<div class='cleartop'>
<!-- <div> -->
    <h2>Pamphlets</h2>
    {% for pdf in pdfs %}
    <!-- <p><a href="/" onclick="javascript:void window.open('{{ pdf.1 }}',
    '1420671127636','width=700,height=500,toolbar=0,menubar=0,location=0,status=0,scrollbars=1,resizable=1,left=0,top=0');return false;">{{ pdf.0 }}</a></p> -->
     <p><a href='{% static pdf.1 %}' target="_blank">{{ pdf.0 }}</a></p>
    {% endfor %}
</div>

<div class='cleartop'>
    <h2>External Links</h2>
    <p><a href="www.ca.org" target="_blank">CA World Services</a></p>
    <p><a href="http://www.ca-online.org" target="_blank">Online CA Meetings</a></p>
    <p><a href="http://www.caorwa.org" target="_blank">CA of Oregon & SW Washington</a></p>
</div>

{% endblock %}