{% extends 'ca_website/base.html' %}

    <h2>12 Steps of Cocaine Anonymous</h2>
        <ol class="list-group">
          <li class="list-group-item">We admitted we were powerless over cocaine and all other mind-altering substances—that our lives had become unmanageable.</li>
          <li class="list-group-item">Came to believe that a Power greater than ourselves could restore us to sanity.</li>
          <li class="list-group-item">Made a decision to turn our will and our lives over to the care of God as we understood Him.</li>
          <li class="list-group-item">Made a searching and fearless moral inventory of ourselves.</li>
          <li class="list-group-item">Admitted to God, to ourselves, and to another human being the exact nature of our wrongs.</li>
          <li class="list-group-item">Were entirely ready to have God remove all these defects of character.</li>
          <li class="list-group-item">Humbly asked Him to remove our shortcomings.</li>
          <li class="list-group-item">Made a list of all persons we had harmed, and became willing to make amends to them all.</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </0l>

{% endblock %}