.test{
    background-color: green;
}

.logo{
    width: 50%;
}

.canav{
    padding: 0px;
}

.navbtn{
    font-size: 1em;
}

.navlogo{
    width: 2.5em;
}

.nospace{
    margin: 0px;
    padding: 0px;
}

.motto{
    width: 18em;
    font-size: .75em;
    font-style: italic;
}

.footer{
    position: absolute;
    bottom: 0px;
}

.disclaimer{
    font-size: .5em;
}

.clearfix{
    clear: both;
}

.contact{
    float: right;
}

#welcome{
    margin-top: 60px;
}

.event_image{
    width: 400px;
}

.cleartop{
    margin-top: 100px;
    text-align: center;
}

.center{
    text-align: center;
}