.test{
    background-color: green
}

.logo{
    width: 50%;
}

.canav{
    padding: 0px;
}

.navbtn{
    font-size: 1em
}

.navlogo{
    width: 2.5em;
}

.nospace{
    margin: 0px;
    padding: 0px;
}

.motto{
    width: 18em;
    font-size: .8em;
}